*.egg-info
*.mo
.eggs
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
node_modules
temp_resources
docs/html/
docs/pdf/
docs/latex/
src/collective.behavior.shortidfromlongtitle/
src/collective.behavior.textcaptcha/
src/plonetheme.tebl
src/webcouturier.dropdownmenu
